BUILD_SUBNET_ID=subnet-...; export BUILD_SUBNET_ID;
BUILD_SOURCE_AMI=ami-...; export BUILD_SOURCE_AMI;
BUILD_SECURITY_GROUP=sg-...; export BUILD_SECURITY_GROUP;
BUILD_REGION=us-...; export BUILD_REGION;
BUILD_S3_BUCKET=...; export BUILD_S3_BUCKET;

BUILD_ZOOKEEPER_IPS=...; export BUILD_ZOOKEEPER_IPS;
BUILD_MYSQL_IP=...rds.amazonaws.com; export BUILD_MYSQL_IP;
BUILD_MYSQL_DBNAME=...; export BUILD_MYSQL_DBNAME;
BUILD_MYSQL_USER=...; export BUILD_MYSQL_USER;
BUILD_MYSQL_PASSWORD=...; export BUILD_MYSQL_PASSWORD;

DEPLOY_IAM_ROLE=...; export DEPLOY_IAM_ROLE;
DEPLOY_REGION=us-...; export DEPLOY_REGION;
DEPLOY_SUBNET_ID=subnet-...; export DEPLOY_SUBNET_ID;
DEPLOY_SECURITY_GROUP=sg-...; export DEPLOY_SECURITY_GROUP;
DEPLOY_KEY_NAME=...; export DEPLOY_KEY_NAME;
DEPLOY_INSTANCE_TYPE=...; export DEPLOY_INSTANCE_TYPE;
