#
# Extensions
#

druid.extensions.coordinates=["io.druid.extensions:druid-s3-extensions", "io.druid.extensions:mysql-metadata-storage"]
druid.extensions.localRepository=dist/druid/extensions-repo
druid.extensions.remoteRepositories=[]

#
# Zookeeper
#

druid.zk.service.host={{ common.zookeeper.ips }}
druid.zk.paths.base=/druid

#
# Metadata storage
#
druid.metadata.storage.type=mysql
druid.metadata.storage.connector.connectURI=jdbc:mysql://{{ common.mysql.ip }}:3306/{{ common.mysql.dbname }}?characterEncoding=UTF-8
druid.metadata.storage.connector.user={{ common.mysql.user }}
druid.metadata.storage.connector.password={{ common.mysql.password }}

#
# Deep storage
#

druid.storage.type=s3
druid.storage.bucket={{common.s3.bucket}}
druid.storage.baseKey=druid/segments

#
# Indexing service logs
#
#
druid.indexer.logs.type=s3
druid.indexer.logs.s3Bucket={{common.s3.bucket}}
druid.indexer.logs.s3Prefix=druid/indexing-logs

#
# Service discovery
#

druid.selectors.indexing.serviceName=overlord

#
# Monitoring
#

druid.monitoring.monitors=["com.metamx.metrics.JvmMonitor"]
druid.emitter=logging
druid.emitter.logging.logLevel=debug
