-server
-Xms{{druid.historical.min_heap_size}}
-Xmx{{druid.historical.max_heap_size}}
-XX:MaxDirectMemorySize={{druid.historical.max_direct_memory_size}}
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
